*{
     box-sizing: border-box; 
    font-family: "Merriweather Sans", sans-serif;
 }
 
 body{
    background-color: #B0DBEE;
    
    #form{
       color: white;
       background-color: #009EDF;
       border-radius: 5px;
       
       width: 400px;
       padding: 40px;
       margin: 150px auto;
       box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.75);
       
       p{
          font-size: 0.9em;
       }
       
       button{
          width: 100%;
          text-align: center;
          color: grey;
          margin-top: 20px;
          border: 1px solid rgba(0,0,0,0.4);
       }
       .back-to-home{
         display: flex;
         margin-top: 5px;
         text-align: center;
       }

       .back-to-home p a{
         color: black;
         margin-left: 5px;
       }
       
       .form-group{
          margin: 15px auto;
            
          label{
             font-weight: bold;
             font-size: 0.9em;
          }
          
          .form-select .input-group{
             border-radius: 5px;
             
             box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
             
             .input-group-addon{
                border: none;
                border-right: 1px solid rgba(0,0,0,0.2);
             }
             
             .form-select input{
                padding-left: 10px;
             }
             
             i{
                color: #009EDF;
             }
          }
          
          .form-select input{
             padding: 3px;
             width: 100%;
             border: none;
             border-radius: 0 5px 5px 0;
          }
       }
    }
 }
 